body {
  background-image: url('../public/Pokedex.png');
  color: aliceblue;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 0%;
  background-size: 100% 100%;
}

h1 {
  text-align: center;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-content {
  display: flex;
  text-align: center;
  border: 2px solid aliceblue;
  margin: 3px;
  border-radius: 10%;
}

.pokemon-content .pokemon-info {
  display: flex;
  flex-direction: column;
}
